---
import AboutMe from "../components/AboutMe.astro";
import BackgroundPaint from "../components/BackgroundPaint.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Proyectos from "../components/Proyectos.astro";
import ScrollingLogo from "../components/ScrollingLogo.astro";
import Layout from "../layouts/Layout.astro";
import Experiencia from "../components/Experiencia.astro";
import workData from '../../cv.json';
---

<Layout>
  <Header />
  <BackgroundPaint />
  <main>
    <AboutMe />
  </main>
  <Proyectos />
  <ScrollingLogo class="mt-12" />
  <Experiencia experiencias={workData.work} />
  <Footer />
</Layout>
