---
import profileImage from "../assets/profile-image.png";
---
<header class="flex justify-between items-center py-2 px-6 md:px-32 opacity-90 backdrop-blur-md flex-row sticky top-0">
    <img 
    class="w-32 h-38 mb-2 sm:mb-0"
    src={profileImage.src}
    alt="Foto de perfil"
    loading="lazy"
    decoding="async"
    />
    <nav>
        <ul class="flex row gap-x-6">
            <li><a href="#elemento1">Elemento1</a></li>
            <li><a href="#elemento2">Elemento2</a></li>
            <li><a href="#elemento3">Elemento3</a></li>
            <li><a href="#elemento4">Elemento4</a></li>
        </ul>
</header>